<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>

		<aspNetCore processPath="dotnet"
					arguments="Modulo.Seguridad.API.dll"
					hostingModel="InProcess"
					stdoutLogEnabled="true"
					stdoutLogFile=".\logs\stdout" />
	</system.webServer>
	<appSettings>
		<add key="ASPNETCORE_ENVIRONMENT" value="Production" />
	</appSettings>
</configuration>
